:root {
  --bg-black: rgb(41, 39, 39);
  --bg-white: rgb(246, 246, 246);
}
/* 
body {
  background-color: var(--bg-white);
} */


/* FOOTER STYLING */

.footer2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  cursor: default;
    /* border: 2px solid orange; */
    border-top: 0.1px solid rgba(0, 0, 0, 0.205);
    padding-bottom: 8px;
    padding-top: 4px;
    padding-left:18px;
    padding-right:18px;
    background-color: white;
}

.info2 {
  height: auto;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.last2{
  border-right: none;
}

svg {
  width: 90px;
  height: 50px;
}

h5 {
  font-size: 1rem;
}

/* MEDIA QUERRIES */

@media screen and (max-width:550px){

.footer2 {
  display: grid;
  width: 100%;
  position: static;
    border: 2px solid orange;
  grid-template-columns: repeat(2, 1fr);
}

.info2 {
 margin-top: 8px;
}

}